<span class="btn" (click)="changeInputSectinHeaderVisibillity()">Переименовать</span>
<span class="btn btn__delete" (click)="sendDelete()">Удалить</span>
<p class="color-picker" (change)="changeSectionHeaderColor($event)">
    <span>Изменить цвет</span>
    <input type="color" class="color-picker__input">
</p>
<input type="radio" [name]="'radio'+sectionId" (change)="sendFilter()" [id]="'sort-ascending'+sectionId" class="input-btn__radio" checked>
<label [for]="'sort-ascending'+sectionId">Сортировать начиная с самых ранних</label>
<input type="radio" [name]="'radio'+sectionId" (change)="sendFilter()" [id]="'reverse-sort-ascending'+sectionId" class="input-btn__radio">
<label [for]="'reverse-sort-ascending'+sectionId">Сортировать начиная с самых поздних</label>
<input type="checkbox" name="isEven" (change)="sendFilter()" [id]="'even'+sectionId" class="input-btn__checkbox" checked>
<label [for]="'even'+sectionId">Четное число</label>
<input type="checkbox" name="isNotEven" (change)="sendFilter()" [id]="'not-even'+sectionId" class="input-btn__checkbox" checked>
<label [for]="'not-even'+sectionId">Нечетное число</label>
<form [formGroup]="inputSectionHeader" (ngSubmit)="sendRename()" 
[ngClass]="{'invisible': invisibleInputSectionHeader}" class="form">
    <fa-icon [icon]="faTimesCircle" class="icon__close" (click)="changeInputSectinHeaderVisibillity()">
    </fa-icon>
    <label class="form__head">Новый заголовок</label>
    <input formControlName="sectionHeader" class="form__input">
    <button [disabled]="inputSectionHeader.invalid" class="form__btn">
        Поменять имя секции
    </button>
</form>