<div class="modal-window">
    <h2>
        {{title}}
        <fa-icon [icon]="faWindowClose" class="modal-window_close-btn" (click)="closeModalWindow()"></fa-icon>
    </h2>
    <form [formGroup]="sectionForm" novalidate *ngIf="isSectionForm">
        <div class="form-group">
            <label>Заголовок секции: </label>
            <input class="form-control" name="sectionHeader" formControlName="sectionHeader" />
            <label>Цвет секции: </label>
            <input class="color-input" type="color" list="colors" formControlName="sectionColor" />
        </div>
        <button type="button" class="modal-window_add-btn" (click)="addSection()">Добавить</button>
    </form>
    <datalist id="colors">

        <option value="#add19a">

        <option value="#8ecdf6">

        <option value="#9786bd">

        <option value="#e296bf">

    </datalist>
    <form [formGroup]="noteForm" *ngIf="!isSectionForm">
        <div class="form-group">
            <label>Заголовок заметки: </label>
            <input class="form-control" name="noteHeader" formControlName="noteHeader" />
        </div>
        <div class="form-group">
            <label>Текст заметки: </label>
            <p><input class="input-note-content" name="noteContent" formControlName="noteContent" />
            </p>
        </div>
        <button type="button" class="modal-window_add-btn" (click)="addNewNote()">Добавить</button>
    </form>
</div>