:host {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.header {
    background-color: #add19a;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.header__ellipsis {
    transform: rotate(90deg);
    cursor: pointer;
}

.notes {
    margin-top: 15px;
    display: flex;
    padding-left: 6.5px;
    padding-right: 6.5px;
    flex-direction: column;
}

.add-btn {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    border: 1px #b2b2b2 solid;
    height: 40px;
    cursor: pointer;
}

.add-btn_icon {
    color: #5f5f5f;
}