@import '../../colors.scss';

:host {
    display: flex;
    flex-grow: 1;
}

.add-section {
    cursor: pointer;
    position: relative;
    min-width: 320px;
    border: 1px solid $black;
}

.icon__plus{
    position: absolute;
    left: 44%;
    top: 51%;
    stroke: $main-text;
    color: $main-text;
    font-size: 35px;
}