body {
	background-color: #e8e8e8;
}

#container-preview {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 100%;
	flex-wrap: wrap;
}

#gallery {
	position: relative;
	padding-top: 50px;
	width: 800px;	
	margin-left: auto;	
	margin-right: auto;	
}

.preview-image {
	margin-top: 50px;
	border-radius: 50%;
	margin-bottom: 50px;
	width: 101px;
	height: 101px;
}

.main-image {
	width: 800px;
	height: 800px;
}

.curent-image {
	border: 4px groove orange;
}

.accord-btn {
	background-color: #828F9F;
	width: 150px;
	height: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
}

.accordion {
	margin-bottom: 30px;	
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#container-with-cathegories {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#container-with-cathegories > div{
	display: none;
}

#img-file-chooser {
	visibility: hidden;
}

.file-field {
	width: 200px;
	height: 200px;
	background-color: white;
	border: 3px dashed black;
	margin-bottom: 20px;
	color: #828F9F;
	font-size: 14px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}

.file-field > span > label {
	cursor: pointer;
	text-decoration: underline;
}
