:host {
    height: 175px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f7f7f7;
    font-family: fixedsys;
    margin-bottom: 10px;
    border: 1px #b2b2b2 solid;
}

.note__header {
    display: flex;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    align-items: flex-end;
}

.note__text {
    font-size: 12px;
    height: 100px;
    color: #5f5f5f;
}

.note__date-and-btns {
    font-size: 12px;
    color: #5f5f5f;
    display: flex;
    justify-content: space-between;
}

.note__date-and-btns__icon {
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 18px;
}

.note__date-and-btns__icon__delete-btn {
    color: #ffc3c3;
}

.note__date-and-btns__icon__edit-btn {
    color: #c3e8ff;
}