@import 'color';

:host{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.h1-main{
    height: 100px;
    text-align: center;
    .h1__text{
        font: {
            family: fixedsys;
            weight: 600;
        }
        color: $text-color;
    }
}