@import '../styles/modal.scss';
@import '../styles/colors.scss';

.icon__plus, .icon__close {
    stroke: $main-text;
    color: $main-text;
    font-size: 21px;
}

.form__title {
    width: 50%;
    padding: 2px 4px;
}

.form__text {
    resize: none;
    width: 95%;
    min-height: 135px;
    padding: 2px 4px;
}