<div class="main-container">
   <div class="title-container">
    <fa-icon [icon]="faEllipsisV" class="title-container_element"></fa-icon>
      <div class="title-container_element">{{noteHeader}}</div>
    <fa-icon [icon]="faCogs" class="title-container_element"></fa-icon>
   </div>
 <div class="notes-container">
     <app-note></app-note>
     <app-note></app-note>
     <app-note></app-note>
     <app-note></app-note>
 </div>
<div class="add-container">
  <fa-icon class="add-container_new-note" [icon]="faPlus"></fa-icon>
</div>
</div>
