<div class="main-container">
  <div class="dropdown-container" [ngStyle] = "{display: isVisible ? 'flex' : 'none'}">
    <form [formGroup]="sectionForm" novalidate>
      <div class="form-group">
        <label>Заголовок секции: </label>
        <input class="form-control" name="sectionHeader" formControlName="sectionHeader" />
        <label>Цвет секции: </label>
        <input class="color-input" type="color" list="colors"  formControlName="sectionColor" />
        <br> <label>Фильтрация:</label>
        <br><label>По дате </label> 
        <fa-icon [icon]="faArrowUp"></fa-icon>
        <input type ="radio" name="sort"/> 
        <fa-icon [icon]="faArrowDown"></fa-icon>
        <input type ="radio" name="sort"/>
        <br> <label>Четные числа </label>
        <input type ="checkbox" name="sort" (change) = "notesFilter($event, 'even')" id='even' />
        <br> <label>Нечетные числа </label>
        <input type ="checkbox" name="sort"(change) = "notesFilter($event, 'odd')" id='odd'/>
      </div>
    </form>
    <datalist id="colors">

      <option value="#add19a">

      <option value="#8ecdf6">

      <option value="#9786bd">

      <option value="#e296bf">

  </datalist>
    <div class="form-btn-container">
      <button type="button" class="form-btn-container_edit-btn" (click)="editSection ()">Изменить</button>
      <button type="button" class="form-btn-container_delete-btn" (click)="deleteSection()">Удалить</button>
    </div>
  </div>
  <div class="title-container" [style.background-color] = 'section.color'>
    <fa-icon [icon]="faEllipsisV" class="title-container_element"></fa-icon>
    <div class="title-container_element">{{section.sectionTitle}}</div>
    <fa-icon [icon]="faCogs" class="title-container_element" (click)=" openSectionMenu()"></fa-icon>
  </div>
  <div class="notes-container">
    <app-note 
    *ngFor="let note of section.notes; let i =index" 
    [(sectionId)]='section.id' [(noteId)]='section.notes[i].id'>
  </app-note>
  </div>
  <div class="add-container">
    <fa-icon class="add-container_new-note" [icon]="faPlus" (click)=addNewNote()></fa-icon>
  </div>
</div>