.small__img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.for-small-img{
    position: absolute;
    margin-left: 10%;
    margin-top: 30%;
    z-index: 3;
}

.for-buttons{
    position: absolute;
    z-index: 4;
    margin-left: 70%;
    margin-top: 10%;
    font-size: 30px;
}

.input__buttons{
    font-size: 20px;
}