<div class="forsmallimg">
    <img class ="smallimg" src="../../assets/img/picture1.jpg" (click)="choose($event)" style="border:'3px solid #BDB76B';">
    <img class ="smallimg" src="../../assets/img/picture2.jpg" (click)="choose($event)">
    <img class ="smallimg" src="../../assets/img/picture3.jpg" (click)="choose($event)">
    <img class ="smallimg" src="../../assets/img/picture4.jpg" (click)="choose($event)">
    <img class ="smallimg" src="../../assets/img/picture5.jpg" (click)="choose($event)">
</div>