:host {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

.delete-btn {
    margin-top: 20px;
    color: red;
}