<div id = "main-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
  <app-section cdkDrag *ngFor="let item of array" (changeNameSection)= "openForm($event,'change')" (newNote) = "addNewNote($event)" [id] = "item.id" [name] = "item.name">
    <fa-icon class="icon__faellipse" [icon]="icon[1]" cdkDragHandle></fa-icon>
  </app-section>
    
  <button class = "button__newsection" (click)= "openForm(null,'add')">
    <fa-icon class="icon__faplus"  [icon]="icon[0]"></fa-icon>
  </button>
</div>
<template #modalWindowContainer></template>







