@import '../color';

:host{
  overflow-y: hidden;
  height: calc(100% - 100px);
}

#main-container{
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.icon__faellipse{
  margin: 7px; 
  color: white; 
  cursor: pointer;
}

.button__newsection{
  width: 300px; 
  min-width: 300px;
  background-color: $section-backgroung-color; 
  border:1px solid $border-color;
  cursor: pointer;
    
  .icon__faplus{
    color: $text-color;
    font: {
      family: fixedsys;
      size: 30pt;
      weight: normal;
    }
  }
}


