<app-modal-input [textOnButton]="'Изменить заметку'" [ngClass]="{'invisible': invisibleForm}" 
(clickOnClose)="changeFormVisibillity()" (sendNote)="changeNote($event)"> 
</app-modal-input>
<div class="header">
    <span>{{header}}</span>
</div>
<div class="text">{{content}}</div>
<div class="bottom">
    <span>{{date | test}}</span>
    <span>
        <fa-icon [icon]="faEdit" class="bottom__icon bottom__icon_blue" (click)="changeFormVisibillity()">
        </fa-icon>
        <fa-icon [icon]="faTrashAlt" class="bottom__icon bottom__icon_pink" (click)="delete()">
        </fa-icon>
    </span>
</div>