@import '/src/app/color';

:host{
  border:1px solid $border-color;
  width: 100%;
  height: 150px;
  margin-top:10px;
  display: flex;
  flex-direction: column;
  background-color:$background-color-note;
  justify-content: space-between;
  font-family: fixedsys;
}

.note-header{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;

  .note__name{
    font: {
      size:18px;
      style: initial;
    }
  }
  
  .note__txt{
    color: $text-color;
    font-size:12px;
    margin-top: 5px;
  }
}

.note-bottom{
  display: flex;
  justify-content:space-between;
  margin-bottom: 5px;
  color: $text-color;
  
  .note__date{
    font-size:12px;
    margin-left: 7px;
  }
  
  .icon__faedit{
    color:$icon-edit-color;
    cursor: pointer;
  }
  
  .icon__fatrashalt{
    color:$icon-trashalt-color;
    margin: 7px;
    cursor: pointer;
  }
}
    