.notes__item {
    display: flex;
    flex-direction: column;
    height: 122px;
    margin-bottom: 10px;
    padding: 15px 9px 7px 9px;
    border: 1px solid black;
    font-size: 12px;
    color: #5f5f5f;
    background-color: #f7f7f7;
}

.note__title {
    margin: 0 0 15px 6px;
    font-size: 18px;
    color: black;
}

.note__content {
    margin: 0;
    height: 100%;
    text-align: left;
}

.notes__bottom {
    display: flex;
    justify-content: space-between;
}

.note__date {
    margin: 0;
}

.icon__edit {
    stroke: #c9eafe;
    color: #c9eafe;
}

.icon__trash {
    stroke: #ffc3c3;
    color: #ffc3c3;
}