:host {
    width: 320px;
    border: 1px solid black;
}

:host:not(:last-child) {
    margin-right: 15px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: rgb(203, 128, 238);
}

.section__property {
    margin-left: 2px;
}

.section__title {
    font-size: 18px;
    color: white;
}

.section__setting {
    margin-right: 4px;
    margin-bottom: -1px;
}

.icon__setting, .icon__property {
    stroke: #ffffff;
    color: #ffffff;
    font-size: 21px;
}

.notes {
    padding: 13px 6px 6px 6px;
}

.notes__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.add-note {
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 40px;
}

.notes__bottom {
    display: flex;
    justify-content: space-between;
}

.icon__plus {
    stroke: #5f5f5f;
    color: #5f5f5f;
    font-size: 21px;
}