<header class="note-section-header">
    <fa-icon class="icon__faellipse" [icon]="faEllipsisV"></fa-icon>
    <span class="name__section">{{name}}</span>
    <fa-icon class="icon__facogs" [icon]="faCogs"></fa-icon>
</header>

<div class="notes">
    <app-note  *ngFor="let item of arrayOfNotes" (doDelete) = "doDelete($event)" [id] = "item.id" [name] = "item.name" [nodeTxt] = "item.nodeTxt" [date] = "item.date"></app-note>
    <button class="button__newnode" (click)= "addNewNote()">
        <span class="button__txt">+</span>
    </button>
</div>