@import '../color';

:host{
    width: 320px;
    min-width: 320px;
    border:1px solid $border-color;
    margin-left: 20px;
} 

:host:not(:last-child){
    margin-right: 15px;
}


.note-section-header{
    height: 45px;
    background-color: $header-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .icon__faellipse, .icon__facogs{
        margin: 7px;
        color: $header-color;
    }
    
    .name__section{
        color:$header-color;
        font: {
            family: fixedsys;
            size: 18px;
            weight: normal;
        }
    }

  
    .dropdown-content{
        position :absolute;
        margin-top: 250px;
        margin-left: 149px;
        width: 150px;
        min-height: 200px ;
        border: 1px solid $border-color;
        display: none;
        padding: 10px;
        background-color:white;           
        .drop__sec{
            padding-bottom: 20px;
            cursor: pointer;
        }
        #delete__span{
            color: red;
        }
    }

    .drop-sort, .drop-filter{
        display: none;           
    }
}


.notes{
    padding-left: 10px;
    padding-right: 10px;
    
    .button__newnode{
        margin-top:10px;
        width: 100%;
        height: 40px;
    }
    
    .button__txt{
        font-size:30px;
        color:$text-color;
    }
}


